logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-checklist
release
.android-tools
backend/dist
frontend/dist
android/app/build
android/.gradle
android/local.properties
capacitor-cordova-android-plugins
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.secrets
.bolt

# Local Netlify folder
.netlify

# Supabase local
supabase/.temp
